@model proj1.Models.Enrollment
@*@model List<proj1.Models.Student>*@

@{
    ViewBag.Title = "viewbag from view";
}

<h1>@Model.courseDet.courseName</h1>

@foreach (var item in Model.studendDet)
{
    <h2>
        @item.stID ==> @item.stFName <> @item.stLName
    </h2>
}

<h3>@ViewBag.xxxx</h3>
<h4>@ViewBag.Title</h4>




