@model SchoolProj.Models.studenttbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>studenttbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enrolldate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enrolldate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imgPath)
        </dd>

    </dl>
</div>
<br />

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Course Title</th>
            <th>Course Credit</th>
            <th>The Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enr in Model.enrolltbls)
        {
            <tr>
                <td>@enr.coursetbl.title</td>
                <td>@enr.coursetbl.credit</td>
                <td>@enr.grade</td>
                <td>@Html.ActionLink("Edit", "Edit", "enrolltbls", new { id = @enr.id }, null) </td>
            </tr>
        }
    </tbody>
</table>

<br />
@foreach (var enr in Model.enrolltbls)
{
    @Html.Partial("_courseSummary", enr);

}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
